<launch>

  <!-- Vehicle's initial pose -->
  <arg name="x"     default="4"/>
  <arg name="y"     default="0"/>
  <arg name="z"     default="-1"/>
  <arg name="yaw"   default="-0.8"/>

  <!-- Start the a underwater world simulation scenario -->
  <include file="$(find robosub_descriptions)/launch/divewell.launch"/>

  <!-- Add the RexROV vehicle to the simulation (namespace: rexrov) -->
  <include file="$(find leviathan_description)/launch/upload.launch">
      <arg name="x" default="7.5"/>
      <arg name="y" default="0"/>
      <arg name="z" default="-1"/>
      <arg name="yaw" default="0"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="baselink_gazebo_broadcaster" args="0 0 0 0 0 0 base_link leviathan/base_link 50" />

  <include file="$(find leviathan_gazebo_drivers)/launch/leviathan_gazebo_drivers.launch"/>

  <include file="$(find controller)/launch/controller_matrix.launch"/>
  <include file="$(find sensor_fusion)/launch/ekf.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find leviathan_description)/launch/leviathan.rviz" />

</launch>
